.menu{
    margin:0 auto;
    display: flex;
    justify-content: center;
}
.menu>li{
    list-style: none;
    margin: 10px;
}
.menu>li>a{
    color:brown;
    text-decoration: none;
    font-size: 20px;
}

.menu>li>a:hover{
    color:rgb(230, 144, 31);
}
p{
    text-align: center;
}

form{
    margin-top: 20px;
    text-align: center;
}
input{
    margin-bottom: 15px;
}